td {
	font-size: 
9pt;
	color: #6d4d34;
	line-height: 12pt;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
} BODY { SCROLLBAR-FACE-COLOR: 
#dfd7c5; SCROLLBAR-HIGHLIGHT-COLOR: #ebebeb; SCROLLBAR-SHADOW-COLOR: #f7f7f7; 
SCROLLBAR-3DLIGHT-COLOR: #ccc0a7; SCROLLBAR-ARROW-COLOR: #6d4d34; SCROLLBAR-TRACK-COLOR: 
#b7a58c; SCROLLBAR-DARKSHADOW-COLOR: #ccc0a7 }a:link {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	color: #000000;
	text-decoration: underline;
}
.td {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 200%;
	font-size: 12px;


}
.11pttd {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
}